@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
#page-members {
  position: relative;
  width: 100%;
}
#page-members .section-title {
  padding: 0 10%;
}
#page-members .heading10 {
  position: relative;
  padding-top: 30px;
  font-size: 32px;
  margin-top: 75px;
  font-family: serif;
}
#page-members .heading10 span {
  position: relative;
  z-index: 2;
}
#page-members .heading10::before {
  content: attr(data-en);
  position: absolute;
  top: 0px;
  left: 0;
  color: rgba(5, 62, 98, 0.2);
  font-size: 40px;
  text-transform: uppercase;
  z-index: 1;
  font-family: serif;
}
#page-members .wrapper {
  width: 100%;
  padding: 0 10%;
}
#page-members #CEO {
  width: 100%;
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 50%, rgb(85, 85, 85));
  color: #fff;
  height: 75vh;
}
#page-members #CEO .wrapper {
  width: 100%;
  padding: 0;
  background-image: url(../img/haruto1.jpg);
  background-size: contain;
  height: 70vh;
}
#page-members #CEO .wrapper img {
  width: 100%;
  height: 60vh;
}
#page-members #CEO .wrapper .hello-CEO {
  font-size: 2.2rem;
}
#page-members #CEO .wrapper .hello-CEO-eng {
  font-weight: bold;
}
#page-members #CEO .wrapper .CEO-info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  right: 0;
}
#page-members #CEO .wrapper .CEO-info .CEO-introduce {
  display: flex;
}
#page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-title-right {
  width: 100%;
  margin-left: 30%;
  padding: 10% 0;
}
#page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-title {
  padding: 25px 0;
  width: 80%;
}
#page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-text {
  padding: 25px 0;
  width: 85%;
}
#page-members #CEO .wrapper .CEO-info .CEO-introduce .company-name {
  font-weight: bold;
  padding: 5px 0;
}
#page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-name {
  font-weight: bold;
}
#page-members #executives {
  padding: 0 0 150px 0;
}
#page-members #executives .executives-title {
  font-size: 2.2rem;
}
#page-members #executives .executives-title-eng {
  font-weight: bold;
}
#page-members #executives .executives-introduce .executives-list {
  width: 100%;
}
#page-members #executives .executives-introduce .executives-list .executives-item {
  display: flex;
  filter: drop-shadow(15px 10px 4px rgba(0, 0, 0, 0.6));
  margin-bottom: 50px;
  flex-direction: row-reverse;
}
#page-members #executives .executives-introduce .executives-list .executives-item .executives-img {
  width: 40%;
}
#page-members #executives .executives-introduce .executives-list .executives-item .executives-img img {
  height: 100%;
  width: 100%;
  vertical-align: bottom;
}
#page-members #executives .executives-introduce .executives-list .executives-item .executives-info {
  background-image: linear-gradient(90deg, rgb(85, 85, 85), rgb(0, 0, 0) 67%);
  width: 100%;
  padding: 10%;
  color: #fff;
}
#page-members #executives .executives-introduce .executives-list .executives-item .executives-info .executives-position {
  font-size: 1.6rem;
}
#page-members #executives .executives-introduce .executives-list .executives-item .executives-info .executives-name {
  font-size: 1.2rem;
}
#page-members #executives .executives-introduce .executives-list .executives-item-2 {
  display: flex;
  filter: drop-shadow(15px 10px 4px rgba(0, 0, 0, 0.6));
  margin-bottom: 50px;
}
#page-members #executives .executives-introduce .executives-list .executives-item-2 .executives-img {
  width: 40%;
}
#page-members #executives .executives-introduce .executives-list .executives-item-2 .executives-img img {
  height: 100%;
  width: 100%;
  vertical-align: bottom;
}
#page-members #executives .executives-introduce .executives-list .executives-item-2 .executives-info {
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 25%, rgb(85, 85, 85));
  width: 100%;
  padding: 10%;
  color: #fff;
}
#page-members #executives .executives-introduce .executives-list .executives-item-2 .executives-info .executives-position {
  font-size: 1.6rem;
}
#page-members #executives .executives-introduce .executives-list .executives-item-2 .executives-info .executives-name {
  font-size: 1.2rem;
}

@media screen and (max-width: 1024px) {
  #page-members #CEO .wrapper .CEO-info {
    text-align: center;
  }
  #page-members #CEO .wrapper .CEO-info .CEO-introduce {
    width: 100%;
    text-align: center;
  }
  #page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-title-right {
    padding: 5% 0;
  }
  #page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-title {
    text-align: center;
    width: 100%;
  }
  #page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-text {
    width: 100%;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list {
    width: 100%;
    flex-wrap: wrap;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  #page-members #CEO .wrapper {
    width: 100%;
    height: 100%;
  }
  #page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-title-right {
    margin: 0;
    padding: 20% 5% 0 5%;
  }
  #page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-title-right .CEO-text {
    font-size: 0.8rem;
    padding: 5px 0;
  }
  #page-members #executives {
    padding-bottom: 50px;
  }
  #page-members #executives .wrapper {
    width: 100%;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item {
    padding: 0;
    margin-bottom: 50px;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item .executives-img {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item .executives-img img {
    height: auto;
    vertical-align: bottom;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item .executives-info {
    padding: 2%;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item .executives-info .exectives-comment {
    font-size: 0.8rem;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item-2 {
    padding: 0;
    margin-bottom: 50px;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item-2 .executives-img {
    width: 100%;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item-2 .executives-img img {
    height: auto;
    vertical-align: bottom;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item-2 .executives-info {
    padding: 2%;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item-2 .executives-info .exectives-comment {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 523px) {
  #page-members .section-title {
    padding: 0 2%;
  }
  #page-members .heading10 {
    position: relative;
    padding-top: 20px;
    font-size: 24px;
    margin-left: 5%;
    margin-top: 50px;
  }
  #page-members .heading10::before {
    content: attr(data-en);
    position: absolute;
    top: 0px;
    left: 0;
    color: rgba(5, 62, 98, 0.2);
    font-size: 32px;
    text-transform: uppercase;
    z-index: 1;
  }
  #CEO {
    background-image: none;
  }
  #CEO .section-title {
    padding: 0 2%;
  }
}
@media screen and (max-width: 415px) {
  #page-members .heading10 {
    position: relative;
    padding-top: 20px;
    font-size: 24px;
    margin-left: 5%;
    margin-top: 50px;
  }
  #page-members .heading10::before {
    content: attr(data-en);
    position: absolute;
    top: 0px;
    left: 0;
    color: rgba(5, 62, 98, 0.2);
    font-size: 32px;
    text-transform: uppercase;
    z-index: 1;
  }
  #page-members #CEO {
    margin-bottom: 50px;
    background-image: url(../img/haruto1.jpg);
    background-size: cover;
    height: 85vh;
    background-position: center;
  }
  #page-members #CEO .wrapper {
    background-image: none;
    width: 100%;
  }
  #page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-title-right {
    margin: 0 auto;
    padding: 35% 5% 0 5%;
  }
  #page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-title-right .CEO-title {
    padding: 10px 0;
  }
  #page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-title-right .CEO-text {
    font-size: 0.8rem;
    line-height: 1.5rem;
    padding: 0;
  }
  #page-members #executives .wrapper {
    padding: 0 5%;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item {
    padding: 0;
    display: block !important;
    margin-bottom: 75px;
    height: 550px;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item .executives-img {
    width: 100%;
    height: 250px;
    padding: 0;
    margin: 0;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item .executives-img img {
    vertical-align: bottom;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item .executives-info {
    padding-top: 25%;
    background-image: none;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item-2 {
    display: block !important;
    padding: 0;
    margin-bottom: 75px;
    height: 550px;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item-2 .executives-img {
    width: 100%;
    height: 250px;
    padding: 0;
    margin: 0;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item-2 .executives-img img {
    height: auto;
    vertical-align: bottom;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item-2 .executives-info {
    padding-top: 25%;
  }
}/*# sourceMappingURL=page-members.css.map */