@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
#philosophy {
  position: relative;
  width: 100%;
}
#philosophy #vmv {
  width: 100%;
  padding: 100px 0;
}
#philosophy #vmv .wrapper {
  width: 100%;
  padding: 0 2%;
}
#philosophy #vmv .wrapper .flex {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 500px;
  margin-top: 100px;
  padding: 30px 0;
}
#philosophy #vmv .wrapper .flex:nth-child(even) {
  flex-direction: row-reverse;
}
#philosophy #vmv .wrapper .flex:nth-child(even) .right .img_wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
#philosophy #vmv .wrapper .flex .right {
  position: relative;
  z-index: -1;
  width: 44%;
}
#philosophy #vmv .wrapper .flex .right .img_wrapper {
  width: 100%;
}
#philosophy #vmv .wrapper .flex .right .img_wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
#philosophy #vmv .wrapper .flex .left {
  position: relative;
  width: 52%;
  height: 100%;
  z-index: 0;
  background-color: #fff;
  filter: drop-shadow(15px 10px 4px rgba(0, 0, 0, 0.6));
}
#philosophy #vmv .wrapper .flex .left::before {
  content: "";
  width: 100%;
  height: 0;
  display: block;
  position: absolute;
  left: 0;
  border-bottom: solid 30px #fff;
  border-left: solid 30px transparent;
  bottom: 100%;
}
#philosophy #vmv .wrapper .flex .left::after {
  content: "";
  width: 100%;
  height: 0;
  display: block;
  position: absolute;
  left: 0;
  border-top: solid 30px #fff;
  border-right: solid 30px transparent;
  top: 100%;
}
#philosophy #vmv .wrapper .flex .left .bg_text {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 12rem;
  text-align: center;
  color: rgba(21, 126, 255, 0.5);
  font-family: "Pinyon Script", cursive;
}
#philosophy #vmv .wrapper .flex .left .vmv_content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#philosophy #vmv .wrapper .flex .left .vmv_content .vmv_title {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
}
#philosophy #vmv .wrapper .flex .left .vmv_content .vmv_title h3 {
  width: 200px;
  text-align: center;
  margin-left: 50px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.1em;
}
#philosophy #vmv .wrapper .flex .left .vmv_content .vmv_subtitle {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#philosophy #vmv .wrapper .flex .left .vmv_content .vmv_subtitle p {
  font-weight: bold;
  text-align: center;
}
#philosophy #vmv .wrapper .flex .left .vmv_content .vmv_text {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#philosophy #vmv .wrapper .flex .left .vmv_content .vmv_text p {
  text-align: left;
}
#philosophy #origin {
  margin: 50px auto 0 auto;
  padding: 60px 0 160px 0;
}
#philosophy .concept_origin {
  width: 100%;
}
#philosophy .concept_origin .concept_origin_wrapper {
  position: relative;
  background-color: #fff;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  filter: drop-shadow(15px 10px 4px rgba(0, 0, 0, 0.6));
}
#philosophy .concept_origin .concept_origin_wrapper .concept_origin_title {
  position: relative;
  text-align: center;
  font-size: 2.2rem;
}
#philosophy .concept_origin .concept_origin_wrapper .concept_origin_title::after {
  position: absolute;
  content: "";
  background-color: #313131;
  width: 30px;
  height: 2px;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
#philosophy .concept_origin .concept_origin_wrapper .concept_origin_subtitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
#philosophy .concept_origin .concept_origin_wrapper .concept_origin_text {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  height: 30%;
  text-align: center;
}
#philosophy .concept_origin .concept_origin_wrapper::before {
  content: "";
  width: 100%;
  height: 0;
  display: block;
  position: absolute;
  left: 0;
  border-bottom: solid 60px #fff;
  border-right: solid 60px transparent;
  bottom: 100%;
}
#philosophy .concept_origin .concept_origin_wrapper::after {
  content: "";
  width: 100%;
  height: 0;
  display: block;
  position: absolute;
  left: 0;
  border-top: solid 60px #fff;
  border-left: solid 60px transparent;
  top: 100%;
}

@media screen and (max-width: 1340px) and (min-width: 1025px) {
  #philosophy #vmv .wrapper .mission .left .bg_text {
    font-size: 8.8rem;
  }
}
@media screen and (max-width: 1024px) {
  #philosophy #vmv .wrapper {
    padding: 0 calc((100vw - 750px) / 2);
  }
  #philosophy #vmv .wrapper .flex {
    height: 800px;
    width: 750px;
    flex-direction: column !important;
  }
  #philosophy #vmv .wrapper .flex .right {
    height: 50%;
    width: 80%;
  }
  #philosophy #vmv .wrapper .flex .right .img_wrapper {
    height: 100%;
    width: 80%;
    margin: auto;
  }
  #philosophy #vmv .wrapper .flex .right .img_wrapper img {
    height: 100%;
  }
  #philosophy #vmv .wrapper .flex .left {
    height: 40%;
    width: 100%;
  }
  #philosophy #vmv .wrapper .flex .left .bg_text {
    font-size: 10rem;
  }
  #philosophy #vmv .wrapper .flex .left .vmv_content .vmv_title {
    height: 20%;
  }
  #philosophy .concept_origin {
    max-width: 750px;
  }
  #philosophy .concept_origin .concept_origin_wrapper {
    height: 300px;
  }
  #philosophy .concept_origin .concept_origin_wrapper .concept_origin_title {
    font-size: 1.5rem;
  }
  #philosophy .concept_origin .concept_origin_wrapper .concept_origin_subtitle {
    font-size: 1.2rem;
  }
  #philosophy .concept_origin .concept_origin_wrapper::before {
    border-bottom: solid 40px #fff;
    border-right: solid 40px transparent;
  }
  #philosophy .concept_origin .concept_origin_wrapper::after {
    border-top: solid 40px #fff;
    border-left: solid 40px transparent;
  }
}
@media screen and (max-width: 768px) {
  #philosophy #vmv .wrapper {
    padding: 0 2%;
  }
  #philosophy #vmv .wrapper .flex {
    height: 500px;
    width: 100%;
    max-width: 500px;
    padding: 20px 0;
    margin: 50px auto 0 auto;
  }
  #philosophy #vmv .wrapper .flex .right {
    width: 100%;
    height: 40%;
  }
  #philosophy #vmv .wrapper .flex .left {
    height: 50%;
  }
  #philosophy #vmv .wrapper .flex .left::before {
    border-bottom: solid 20px #fff;
    border-left: solid 20px transparent;
  }
  #philosophy #vmv .wrapper .flex .left::after {
    border-top: solid 20px #fff;
    border-right: solid 20px transparent;
  }
  #philosophy #vmv .wrapper .flex .left .bg_text {
    font-size: 5rem;
    top: -25px;
  }
  #philosophy #vmv .wrapper .flex .left .vmv_content {
    justify-content: center;
    height: 230px;
    margin: auto 0;
  }
  #philosophy #vmv .wrapper .flex .left .vmv_content .vmv_title {
    justify-content: center;
    height: auto;
  }
  #philosophy #vmv .wrapper .flex .left .vmv_content .vmv_title h3 {
    margin: 0;
  }
  #philosophy #vmv .wrapper .flex .left .vmv_content .vmv_subtitle {
    height: auto;
    margin-top: 10px;
  }
  #philosophy #vmv .wrapper .flex .left .vmv_content .vmv_text {
    margin: 10px auto;
    height: auto;
  }
  #philosophy #concept {
    padding: 60px 3%;
    margin: 30px auto;
  }
  #philosophy #origin {
    margin: 30px auto 0 auto;
    padding: 60px 3% 160px 3%;
  }
  #philosophy .concept_origin {
    max-width: 600px;
  }
  #philosophy .concept_origin .concept_origin_wrapper {
    width: 100%;
    height: 300px;
  }
  #philosophy .concept_origin .concept_origin_wrapper .concept_origin_title {
    font-size: 1rem;
  }
  #philosophy .concept_origin .concept_origin_wrapper .concept_origin_subtitle {
    font-size: 14px;
  }
  #philosophy .concept_origin .concept_origin_wrapper .concept_origin_text {
    font-size: 12px;
  }
  #philosophy .concept_origin .concept_origin_wrapper::before {
    border-bottom: solid 20px #fff;
    border-right: solid 20px transparent;
  }
  #philosophy .concept_origin .concept_origin_wrapper::after {
    border-top: solid 20px #fff;
    border-left: solid 20px transparent;
  }
}