@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
.items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5vw;
}

@media screen and (max-width: 480px) {
  .items {
    display: block;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
  }
}

.card {
  position: relative;
  height: 400px;
  background: #ebebeb;
  border-radius: 20px;
}

.card .next-link {
  display: block;
  width: 100%;
  height: 100%;
}

.card .next-link .img-wrapper {
  position: relative;
  width: 100%;
  height: 80%;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}

.card .next-link .img-wrapper:hover::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.card .next-link .img-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.card .next-link .img-wrapper > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0%;
     object-position: 50% 0%;
}

.card .next-link .next-textarea {
  width: 100%;
  height: 20%;
  padding-top: .9vw;
  text-align: center;
}

.card .next-link .next-textarea:hover {
  opacity: .4;
  -webkit-transition: .2s;
  transition: .2s;
}

@media screen and (max-width: 480px) {
  .card .next-link .next-textarea {
    padding-top: 3vw;
  }
}

.card .next-link .next-textarea .next-title {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
  letter-spacing: 0.12em;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .card .next-link .next-textarea .next-title {
    font-size: 1.4rem;
  }
}

.card .next-link .next-textarea .next-subtitle {
  color: rgba(65, 65, 65, 0.6);
}

@media screen and (max-width: 480px) {
  .card .next-link .next-textarea .next-subtitle {
    line-height: 1.2;
  }
}

.card:nth-of-type(1) {
  width: calc((100vw - 105px - 10vw) / 2);
  margin: 100px 5px 30px 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .card:nth-of-type(1) {
    margin: 100px 5px 10px 5px;
    width: calc((100vw - 30px - 10vw) / 2);
  }
}

@media screen and (max-width: 480px) {
  .card:nth-of-type(1) {
    width: 90vw;
    margin: 100px auto 30px;
  }
}

.card:nth-of-type(2) {
  width: calc((100vw - 105px - 10vw) / 2);
  margin: 100px 5px 30px 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .card:nth-of-type(2) {
    margin: 100px 5px 10px 5px;
    width: calc((100vw - 30px - 10vw) / 2);
  }
}

@media screen and (max-width: 480px) {
  .card:nth-of-type(2) {
    width: 90vw;
    margin: 30px auto;
  }
}

.card:nth-of-type(3) {
  width: calc((100vw - 120px - 10vw) / 3);
  margin: 30px 5px 100px 5px;
}

@media screen and (max-width: 1024px) {
  .card:nth-of-type(3) {
    -o-object-fit: cover;
       object-fit: cover;
    margin: 30px 5px 10px 5px;
    width: calc((100vw - 30px - 10vw) / 2);
  }
}

@media screen and (max-width: 480px) {
  .card:nth-of-type(3) {
    width: 90vw;
    margin: 30px auto;
  }
}

.card:nth-of-type(4) {
  width: calc((100vw - 120px - 10vw) / 3);
  margin: 30px 5px 100px 5px;
}

@media screen and (max-width: 1024px) {
  .card:nth-of-type(4) {
    -o-object-fit: cover;
       object-fit: cover;
    margin: 30px 5px 10px 5px;
    width: calc((100vw - 30px - 10vw) / 2);
  }
}

@media screen and (max-width: 480px) {
  .card:nth-of-type(4) {
    width: 90vw;
    margin: 30px auto;
  }
}

.card:nth-of-type(5) {
  width: calc((100vw - 120px - 10vw) / 3);
  margin: 30px 5px 100px 5px;
}

@media screen and (max-width: 1024px) {
  .card:nth-of-type(5) {
    -o-object-fit: cover;
       object-fit: cover;
    width: 50vw;
    margin: 30px auto 100px;
  }
}

@media screen and (max-width: 480px) {
  .card:nth-of-type(5) {
    width: 90vw;
    margin: 30px auto 100px;
  }
}
/*# sourceMappingURL=page-about.css.map */