@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
.items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1150px;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .items {
    display: block;
    flex-wrap: nowrap;
    justify-content: none;
  }
}
.items .row1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .items .row1 {
    display: block;
    justify-content: center;
  }
}
.items .row2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .items .row2 {
    display: block;
    justify-content: center;
  }
}

.card {
  position: relative;
  width: 47%;
  height: 30vw;
  max-height: 420px;
  background: #ebebeb;
  border-radius: 20px;
  margin-bottom: 40px;
  margin: 20px 20px 40px;
}
@media screen and (max-width: 480px) {
  .card {
    width: 80%;
    height: 70vw;
    margin: 20px auto 20px;
  }
}
.card .next-link {
  display: block;
  width: 100%;
  height: 100%;
}
.card .next-link .img-wrapper {
  position: relative;
  width: 100%;
  height: 80%;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}
.card .next-link .img-wrapper:hover::before {
  background-color: rgba(0, 0, 0, 0.4);
}
.card .next-link .img-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  transition: background-color 0.5s;
}
.card .next-link .img-wrapper > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0%;
     object-position: 50% 0%;
}
.card .next-link .next-textarea {
  position: relative;
  width: 100%;
  height: 20%;
  text-align: center;
  align-items: center;
}
.card .next-link .next-textarea:hover {
  opacity: 0.4;
  transition: 0.2s;
}
@media screen and (max-width: 480px) {
  .card .next-link .next-textarea {
    padding-top: 3vw;
  }
}
.card .next-link .next-textarea .text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card .next-link .next-textarea .text-wrapper .next-title {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
  letter-spacing: 0.12em;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  .card .next-link .next-textarea .text-wrapper .next-title {
    font-size: 15px;
  }
}
.card .next-link .next-textarea .text-wrapper .next-subtitle {
  color: rgba(65, 65, 65, 0.6);
}
@media screen and (max-width: 480px) {
  .card .next-link .next-textarea .text-wrapper .next-subtitle {
    line-height: 1.2;
  }
}