@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
#page-members {
  position: relative;
  width: 100%;
}
#page-members .section-title {
  padding: 0 10%;
}
#page-members .heading10 {
  position: relative;
  padding-top: 30px;
  font-size: 32px;
  margin-top: 75px;
  font-family: serif;
}
#page-members .heading10 span {
  position: relative;
  z-index: 2;
}
#page-members .heading10::before {
  content: attr(data-en);
  position: absolute;
  top: 0px;
  left: 0;
  color: rgba(5, 62, 98, 0.2);
  font-size: 40px;
  text-transform: uppercase;
  z-index: 1;
  font-family: serif;
}
#page-members .wrapper {
  width: 100%;
  padding: 0 10%;
}
#page-members #CEO {
  width: 100%;
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 50%, rgb(85, 85, 85));
  color: #fff;
}
#page-members #CEO .wrapper {
  width: 100%;
  padding: 0;
  background-size: contain;
  height: 70vh;
}
#page-members #CEO .wrapper img {
  width: 100%;
  height: 60vh;
}
#page-members #CEO .wrapper .CEO-info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  right: 0;
}
#page-members #CEO .wrapper .CEO-info .CEO-introduce {
  display: flex;
}
#page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-img {
  width: 30%;
}
#page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-title-right {
  width: 100%;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-title {
  padding: 25px 0;
  width: 80%;
}
#page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-text {
  padding: 25px 0;
  width: 85%;
}
#page-members #CEO .wrapper .CEO-info .CEO-introduce .company-name {
  font-weight: bold;
  padding: 5px 0;
}
#page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-name {
  font-weight: bold;
}
#page-members #executives {
  padding: 0 0 150px 0;
}
#page-members #executives .executives-title {
  font-size: 2.2rem;
}
#page-members #executives .executives-title-eng {
  font-weight: bold;
}
#page-members #executives .executives-introduce .executives-list {
  width: 100%;
}
#page-members #executives .executives-introduce .executives-list .executives-item {
  display: flex;
  filter: drop-shadow(15px 10px 4px rgba(0, 0, 0, 0.6));
  margin-bottom: 50px;
  flex-direction: row-reverse;
}
#page-members #executives .executives-introduce .executives-list .executives-item .executives-img {
  width: 40%;
}
#page-members #executives .executives-introduce .executives-list .executives-item .executives-img img {
  height: 100%;
  width: 100%;
  vertical-align: bottom;
}
#page-members #executives .executives-introduce .executives-list .executives-item .executives-info {
  background-image: linear-gradient(90deg, rgb(85, 85, 85), rgb(0, 0, 0) 67%);
  width: 100%;
  padding: 5%;
  color: #fff;
}
#page-members #executives .executives-introduce .executives-list .executives-item .executives-info .executives-position {
  margin-bottom: 2%;
}
#page-members #executives .executives-introduce .executives-list .executives-item .executives-info .executives-comment {
  padding: 10% 0;
}
#page-members #executives .executives-introduce .executives-list .executives-item-2 {
  display: flex;
  filter: drop-shadow(15px 10px 4px rgba(0, 0, 0, 0.6));
  margin-bottom: 50px;
}
#page-members #executives .executives-introduce .executives-list .executives-item-2 .executives-img {
  width: 40%;
}
#page-members #executives .executives-introduce .executives-list .executives-item-2 .executives-img img {
  height: 100%;
  width: 100%;
  vertical-align: bottom;
}
#page-members #executives .executives-introduce .executives-list .executives-item-2 .executives-info {
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 25%, rgb(85, 85, 85));
  width: 100%;
  padding: 5%;
  color: #fff;
}
#page-members #executives .executives-introduce .executives-list .executives-item-2 .executives-info .executives-position {
  margin-bottom: 2%;
}
#page-members #executives .executives-introduce .executives-list .executives-item-2 .executives-info .executives-comment {
  padding: 10% 0;
}

@media screen and (max-width: 1024px) {
  #page-members #CEO .wrapper .CEO-info {
    text-align: center;
  }
  #page-members #CEO .wrapper .CEO-info .CEO-introduce {
    width: 100%;
    text-align: center;
  }
  #page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-title-right {
    padding: 5% 2%;
  }
  #page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-title {
    text-align: center;
    width: 100%;
  }
  #page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-text {
    width: 100%;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list {
    width: 100%;
    flex-wrap: wrap;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  #page-members .section-title .heading10 {
    position: relative;
    padding-top: 30px;
    font-size: 22px;
  }
  #page-members .section-title .heading10::before {
    top: 7px;
    font-size: 26px;
  }
  #page-members #CEO {
    background-image: none;
    height: auto;
  }
  #page-members #CEO .wrapper {
    height: auto;
  }
  #page-members #CEO .wrapper .CEO-info .CEO-introduce {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  #page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-img {
    width: 100%;
  }
  #page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-img img {
    height: auto;
    vertical-align: bottom;
    aspect-ratio: 5/3;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 100% 10%;
       object-position: 100% 10%;
  }
  #page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-title-right {
    background-color: #000;
    margin: 0;
  }
  #page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-title-right .CEO-text {
    padding: 5px 0;
  }
  #page-members #executives {
    padding-bottom: 50px;
  }
  #page-members #executives .wrapper {
    width: 100%;
  }
  #page-members #executives .wrapper .heading10 {
    position: relative;
    padding-top: 30px;
    font-size: 22px;
  }
  #page-members #executives .wrapper .heading10::before {
    top: 7px;
    font-size: 26px;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item {
    padding: 0;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item .executives-img {
    width: 100%;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item .executives-img img {
    height: auto;
    vertical-align: bottom;
    aspect-ratio: 3/2;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 100% 20%;
       object-position: 100% 20%;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item .executives-info {
    padding: 5%;
    background-color: #000;
    background-image: none;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item .executives-info .executives-comment {
    padding: 10% 0;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item-2 {
    padding: 0;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item-2 .executives-img {
    width: 100%;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item-2 .executives-img img {
    height: auto;
    vertical-align: bottom;
    aspect-ratio: 3/2;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 100% 5%;
       object-position: 100% 5%;
  }
  #page-members #executives .wrapper .executives-introduce .executives-list .executives-item-2 .executives-info {
    padding: 5%;
    background-image: none;
    background-color: #000;
  }
}
@media screen and (max-width: 415px) {
  #page-members .heading10 {
    position: relative;
    padding-top: 20px;
    font-size: 24px;
    margin-top: 50px;
  }
  #page-members .heading10::before {
    content: attr(data-en);
    position: absolute;
    top: 0px;
    left: 0;
    color: rgba(5, 62, 98, 0.2);
    font-size: 32px;
    text-transform: uppercase;
    z-index: 1;
  }
  #page-members #CEO {
    margin-bottom: 50px;
  }
  #page-members #CEO .wrapper {
    background-image: none;
    width: 100%;
  }
  #page-members #CEO .wrapper .CEO-info .CEO-introduce {
    background-image: url(../img/haruto1.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
  }
  #page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-title-right {
    margin: 0 auto;
    padding-top: 10%;
  }
  #page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-title-right .CEO-title {
    padding: 10px 0;
  }
  #page-members #CEO .wrapper .CEO-info .CEO-introduce .CEO-title-right .CEO-text {
    padding: 0;
  }
  #page-members #executives .wrapper {
    padding: 0 10%;
  }
}