.u_paragraph_min{
  // 14px
  font-size: 0.875rem;
  line-height: 1.5;
  @media screen and (max-width:768px) {
    // 12px
    font-size: 3.2vw;
    line-height: 1.5;
  }
}
.u_paragraph{
  // 16px
  font-size: 1rem;
  line-height: 1.5;
  @media screen and (max-width:768px) {
    // 14px
    font-size: 3.7vw;
    line-height: 1.5;
  }
}
.u_subtitle{
  // 24px
  font-size: 1.5rem;
  line-height: 1.5;
  @media screen and (max-width:768px) {
    // 16px
    font-size: 4.2vw;
    line-height: 1.5;
  }
}
.u_title{
  // 32px
  font-size: 2rem;
  line-height: 1.5;
  @media screen and (max-width:768px) {
    // 20px
    font-size: 5.3vw;
  }
}
.u_title{
  // 48px
  font-size: 3rem;
  line-height: 1.5;
  @media screen and (max-width:768px) {
    // 24px
    font-size: 6.4vw;
  }
}
